@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.handwriting {
  font-family: var(--font-shadows), cursive;
  font-size: 5em;
  color: #ff3636;
  margin-top: -2em;
  align-items: center;
  padding-left: 1.5em;
}

.boldonse {
  font-family: 'Boldonse', cursive;
  font-size:10em;
  padding-left: 1em;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
  .handwriting {
    font-size: 3em;
    margin-top: -1em;
    padding-left: 1em;
  }

  .boldonse {
    font-size: 6em;
    padding-left: 0.5em;
  }
}