@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica Rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.introduction {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    background-color: #141516;
  
    svg {
      position: absolute;
      top: 0;
      width: 100%;
      height: calc(100% + 300px);
      
      path {
        fill: #141516;
      }
    }
    
    p {
      display: flex;
      color: white;
      font-size: 5em;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 6;
      font-family: 'Coolvetica', sans-serif;
      font-weight: normal;
      letter-spacing: 0.05em;
      padding: 0;
      margin: 0;

      span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
}

@media screen and (max-width: 768px) {
  .introduction {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
  }
  
  .introduction svg {
    height: calc(100% + 100px);
  }
  
  .introduction p {
    font-size: 3em;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }
  
  .introduction p span {
    width: 5px;
    height: 5px;
    margin-right: 5px;
  }
}